* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}

.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 3.6rem;
	height: 100%;
}

/* NAV */

nav {
	font-size: 2rem;
	text-transform: uppercase;
}

.navbar-toggler {
	font-size: 3rem;
}

.navbar-brand {
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: none;
}

/* Header */

header {
	font-size: 2rem;
}

.carousel-item {
	position: relative;
	height: 400px;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.carousel-img-one {
	background-image: url('../img/drummer-small.jpg');
}
.carousel-img-two {
	background-image: url('../img/bass-guitar-small.jpg');
}
.carousel-img-three {
	background-image: url('../img/piano-small.jpg');
}

/*HOME*/

.home-boxes {
	padding: 5em 0;
}

.home-box i {
	font-size: 4rem;
}
.home-box h3 {
	font-size: 2.6rem;
}

/* ----- */

.home-passion {
	position: relative;
	height: 350px;
	background-image: url('../img/cello-g061579c3d_1920.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
}

.home-brand h3 {
    font-size: 3rem;
    font-weight: bold;
}

/*FOOTER*/

footer {
    font-size: 2rem;
}

/*ABOUT US*/

.aboutus-hero {
	background-image: url(../img/AboutUs/stereo-amplifier-gf3a0d6d15_1920.jpg);
	background-position: center;
}
/* ------*/

.aboutus-info {
	background-color: rgb(248, 248, 248);
}

.aboutus-info .container {
	padding: 2em 0.5em;
}

.aboutus-text {
	padding: 1.8em;
}

.aboutus-text h3 {
	margin-bottom: 0.5em;
	font-size: 2.6rem;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline #007bff;
}

.aboutus-text-right {
	text-align: right;
}

.aboutus-img {
	height: 300px;
	object-fit: cover;
}

/* ----- */

.aboutus-bottom i {
	font-size: 3rem;
}

.aboutus-bottom h3 {
	font-size: 2.2rem;
	font-weight: bold;
}

.sizes {
	font-size: 4rem;
}

/*SERVICES*/

.service-hero {
	background-image: url(../img/Services.img/microphone-gbf1d9c8c5_1920.jpg);
	background-position: 0 75%;
}

.service-hero-box {
	position: relative;
	height: 300px;
	background-size: cover;
	z-index: 0;
}
.service-hero-box p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	text-transform: uppercase;
	color: #fff;
}

.service-hero-box.box-one {
	background-image: url(../img/Services.img/Lessons\ 1920.jpg);
}
.service-hero-box.box-two {
	background-image: url(../img/Services.img/Restoration\ 1920.jpg);
}
.service-hero-box.box-three {
	background-image: url(../img/Services.img/Shop\ 1920.jpg);
}
.service-hero-box.box-four {
	background-image: url(../img/Services.img/Technical\ support.jpg);
}

/*PROJECTS*/

.projects-hero {
	background-image: url(../img/Projects.img/scores-g1abb2037e_1920.jpg);
	background-position: center;
}

.projects img {
	height: 240px;
	background-size: contain;

}

.projects .btn {
	font-size: 1.4rem;
	text-transform: uppercase;
}

/*CONTACT*/

.contact-hero {
	background-image: url(../img/contact/boxes-g15729b157_1920.jpg);
	background-size: contain;
}

.contact h2 {
	text-transform:uppercase;
	font-weight: bold;
	font-size: 2.6rem;
}

.contact-logo {
	font-size: 3rem;
}

.contact input, .contact select, .contact textarea {
	font-size: 1.6rem;
}

.contact .btn {
	padding: 0.3em 0.8em;
	font-size: 2rem;
}

.contact-map iframe {
	width: 100%;
	min-height: 400px;
}

@media (min-width: 992px) {
	.aboutus-info .container {
		padding: 0;
	}

	.aboutus-shadow {
		box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
	}

	.aboutus-text {
		padding: 5em 0;
		transform: skew(-15deg);
	}

	.aboutus-text-left {
		padding-right: 2em;
		text-align: right;
	}

	.aboutus-text-right {
		padding-left: 2em;
		text-align: left;
	}
}

@media (min-width: 1400px) {
    .carousel-item {
        height: 400px;
    }

    .carousel-img-one {
        background-image: url('../img/drummer-big.jpg');
    }
    .carousel-img-two {
        background-image: url('../img/bass-guitar-big.jpg');
    }
    .carousel-img-three {
        background-image: url('../img/piano-big.jpg');
    }
    
}